<p>Welcome, <%= @user.username %>

<% @tweets.each do |tweet| %>
  <p><a href="/tweets/<%=tweet.id%>"><%= tweet.content %></a>
<% end %>

<p><a href="/tweets/new">Create a new tweet</a>
<p><a href="/users/<%=@user.slug%>">Show your tweets</a>


<p><a href="/logout" value="submit">Logout</a>
